<div><div style="margin: auto;
border: 2px solid black;
border-radius: 10px;
width: 75%;
padding: 20px">

<form method= "POST" action="{% url 'feedback:post' %}">
    {% csrf_token %}
        {{ form_feedback.as_p }}
 
    <div>
        <a href="{% url 'main:home' %}" style="text-decoration: none; color: black;"><button class="button cancel-button">Cancel</a>
        <button class="button submit-button">Submit</a>
    </div>
</form>
</div><div>