@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300&display=swap');

@media only screen and (max-width: 1000px) {
    .lottie {
        flex: 50%;
        max-width: 77%;
        margin: auto;
        margin-top: 10vw;
        margin-bottom: 5vw;
        display: block;
        bottom: 0%;
        left: 0%;
    }
    .show-on-mobile {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 1025px) {
    .show-on-mobile {
        position: 10vw;
        justify-content: center;
    }
    .lottie {
        flex: 50%;
        max-width: 44%;
        margin: auto;
        margin-top: -8vw;
        margin-bottom: 5vw;
        display: block;
        bottom: 50%;
        left: 50%;
    }
}
#quotes {
    height: clamp(50px, 15vw, 400px);
    width: auto;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.title2 {
    color:#253031;
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(50px, 8vw, 90px);
}
span {
    color: #8BF59C;
}
.title3 {
    color:#253031;
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(36px, 5vw, 90px);
}

p {
    font-size: clamp(14px, 3vw, 20px);
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center2 {
    width: 75%;
    margin: 0 auto;
}

.container {
    height:88px;
    position: relative;
}
nav{
    font-family: 'Work Sans', sans-serif;
}

.default {
    margin: 4vw;
}

.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color:#FFFFFF;
    background-color:#8BF59C;;
    text-align:center;
    transition: all 0.2s;
}
button3:hover{
    background-color: #CDFFCE;
}
