{% extends 'base.html' %}   
{% load static %}

{% block meta %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#antrian-list h4").filter(function() {
          $(this).parent().toggle($(this).parent().text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $(document).ready(function(){
  $("#antri").hover(function(){
    $(this).css("background-color");
    });
  });
    </script>
    </head>
{% endblock meta %}

{% block content %} 
<style>
    .antrian-hide{
        display: none;
    }
</style>
<div style="text-align: center;
padding: 1%;padding-bottom: 3%;"><h1>Services</h1><br>
{% if user.is_authenticated %}
<h5>Tolong tuliskan pada halaman ini informasi yang dibutuhkan untuk meminta service dari kami agar kami dapat menentukan
    tipe service yang bisa kami berikan. <br><br>Kemudian tunggulah balasan dari kami kepada email yang diberikan.
</h5></div>
<div style="margin: auto;
border: 2px solid black;
border-radius: 10px;
width: 75%;
padding: 20px;
">

<form onSubmit="if(!confirm('Dengan mengklik ok, anda menyatakan bahwa semua informasi yang diletakkan pada form di bawah sebagai benar')){return false;}" method= "POST" action="{% url 'services:post' %}">
    {% csrf_token %}
    {{ form_service.as_p }}
    <div>
        <a href="{% url 'main:home' %}" style="text-decoration: none; color: black;"><button class="button cancel-button">Cancel</a>
        <a><button class="button submit-button">Submit</a>
    </div>
</form>
<span>
    <h3 style="text-align: center;float: none; margin-top: 5%; margin-bottom: 2%;" >Antrian</h3>
    <button class="btn btn-secondary" onclick="showAntrian(); console.log('H');"><i class="fas fa-arrow-down"></i></button>
</span>

<div style="padding-left: 10%; padding-right: 10%;">
    <p>Find donor:</p>  
    <input id="myInput" type="text" class = "form-control" placeholder="Insert a name...">
</div>
<div id="antrian-list">
    {%for i in data %}
        <div id="antri"  style="margin: auto;
        border: 2px solid black;
        border-radius: 10px;
        width: 75%;
        margin-top: 10px;
        padding: 20px;">
            <h4>{{i.name}}</h4>
            <p>{{i.detail}}<p>
        </div>
        <br>
    {% endfor %}
    </div>
</div>
{% else %}
<h5> Harap login terlebih dahulu </h5>
<a href="{% url 'perloginan:signup' %}"><button onClick="if(!confirm('Apakah anda ingin membuat akun?')){return false;}">Ingin membuat akun?</button></a>
{% endif %}
<script>
    function showAntrian(){
        var antrian = document.getElementById("antrian-list");
        antrian.classList.toggle("antrian-hide");
    }
</script>
{% endblock content %}