{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}


<div class="card" style="width: 75%; border-radius: 10px; margin: 10%; " id="center">
    <div class="card-body">

        <div class="title" id="center" style="text-align: center;">
            <h3 style="text-align: center;">Sign in</h3>
        </div>
        <div style="padding: 10%;" id="center">
            <div class="main-story10 d-flex flex-column justify-content-center" id="center">
                <div class="row">



                    <div class="right-page col" >
                       
                        {% if user.is_authenticated == False %}
                        <div class=" login content mx-5 my-5">
                        {% if messages %}
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                        {% endif %}

                        <div class="login-form" style="margin: 10%;">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <div style="margin-top: 5%;">
                                    <button type="submit" name="btn-login" id="btn-logIn"
                                        class="btn btn-dark mt-4">LOGIN</button>
                                </div>
                            </form>
                        </div>

                        <div class="info mt-5">
                            <p>
                                Don't have an account? <a id="nya" href="{% url 'perloginan:signup' %}"><strong
                                        style="color:black;">Sign up.</strong></a>
                            </p>
                        </div>
                    </div>

                    {% else %}
                    <div class="success mt-5 ml-5">
                        <div class="greeting mt-5">
                            <h3>Welcome,</h3>
                            <h1 style="font-weight: 700px;"><span class="highlight">{{user.username}}.</span></h1>
                        </div>
                        <div class="btn-logout" style="display: block; width:60px ;border-radius: 10px;margin-bottom: 10%; margin-left: auto; text-align: center;
                                margin-right: auto;">
                            <form action="{% url 'main:home' %}">
                                <input type="submit" id="btn-logOut" class="btn btn-dark" value="Home">
                            </form>
                            <form action="{% url 'perloginan:logout' %}">
                                <input type="submit" id="btn-logOut" class="btn btn-dark" value="Log out">
                            </form>
                        </div>
                    </div>


                    {% endif %}
                </div>
            </div>


        </div>

    </div>
</div>
</div>




<div class="back-button">
    <a style="display: block; width:60px ;border-radius: 10px;margin-bottom: 10%; margin-left: auto; text-align: center;
    margin-right: auto;" id="bu" class="btn btn-warning" href="/" role="button">Back</a>
</div>

{% endblock content %}
