{% extends 'base.html' %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/quotesgen.css' %}" />
<div class=default >
    <h1 id="hov" class="title2" style="text-align: center;"> <span>Quotes</span></h1>
    <h1 class="title3 "style="text-align: center; line-height: 1vw;"> for you today.</h1>
</div>


    <div class="container">
        <div class="center">
            <form method="GET" action="">
                <button id="generate" type="submit" value="Submit" class="button3">GENERATE</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <div id="quotes" style="margin-top: 1vw;">
        <div class="center2">
            <p id="data" style="text-align: center;">
        </div>
    </div>
    <div class=show-on-mobile>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="lottie" src="https://assets1.lottiefiles.com/private_files/lf30_emydabyz.json" mode="bounce" background="transparent"  speed="0.5"  style="width:100%"  loop  autoplay></lottie-player>
    </div>
{% if user.is_authenticated %}
<div class=default style="margin-bottom: 11vw">
    <div class=default >
        <h1 style="text-align: center;font-family: 'Abril Fatface', cursive;font-size: clamp(22px, 4vw, 64px);"> Do you have any <span>quotes</span> recommendation?</h1>
    </div>
    <div class="form-inline d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-2">
        <form class="w-75" method='post'>
            <input class="form-control form-control-sm ml-3 w-75" id="quoteInput"  type="text" placeholder="Write your quotes here..."
            aria-label="Search" style="padding:1.5vw">
            <button class="button3" id="postQuoteButton" type="submit">Submit</button>
        </form>
    </div>
    
</div>
{% else %}
<div class="container">
    <h3 style="text-align: center;margin:5vw"> Please <span><a href="{% url 'perloginan:signup' %}">SignUp</a></span> to recommend a quote :D </h3>
</div>
{% endif %}



<!-- <script type="module">
    import { annotate } from 'https://unpkg.com/rough-notation?module';
    const n4 = document.querySelector('p');
    const a4 = annotate(n4, { type: 'highlight', color: '#ffdf80', iterations: 1, multiline: true });
    a4.show();
</script> -->
<script src="{% static 'js/quotesgen.js' %}"></script>


{% endblock %}