{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CASES</title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#berita h2").filter(function() {
          $(this).parent().toggle($(this).parent().text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

  $(document).ready(function(){
      $("#fff").click (function() {
        $("#cari").show()
    });
  });

    </script>
    </head>
{% endblock meta %}

{% block content %}
<div style="text-align: center;
padding: 1%;
color: black;">
<h1>Cases</h1></div>
<div class="back-button">
  <a style="display: block; width:150px ;border-radius: 10px; margin-left: auto; text-align: center;
  margin-right: auto;" id="fff" class="btn btn-warning" role="button">Find Case</a>
</div>
<div style="padding-left: 10%; padding-right: 10%; display: none;" id = "cari">
    <p>Find case:</p>  
    <input id="myInput" type="text" class = "form-control" placeholder="Insert a name...">
</div>

<br>
{%for i in data %}
    <div id = "berita" style= "margin: auto;
    border: 3px solid black;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    width: 75%;
    margin-top: 10px;
    padding: 20px;">
        <h2 style="text-decoration: underline;background-color: white; text-align: center;border-style: groove; border-radius: 10px;">{{i.case}}</h2>
        <p>{{i.detail}}<p>
        <p style="font-size: 12px;">oleh: {{i.name}}</P>
    </div>
    <br>
{% endfor %}
{% endblock content %}
