{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>DONASI</title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#nama h4").filter(function() {
          $(this).parent().toggle($(this).parent().text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $(document).ready(function(){
      $("#fff").click (function() {
        $("#cari").show()
    });
  });

  $(function(){
    $("#nama").sortable()
  })

    </script>
    </head>
{% endblock meta %}

{% block content %}

<div style="text-align: center;
padding: 1%;
color: black;">
<h1>Donor</h1></div>
<div class="back-button">
  <a style="display: block; width:150px ;border-radius: 10px; margin-left: auto; text-align: center;
  margin-right: auto;" id="fff" class="btn btn-warning" role="button">Find Donor</a>
</div>
<div style="padding-left: 10%; padding-right: 10%; display: none;" id ="cari" >
    <p>Find donor:</p>  
    <input id="myInput" type="text" class = "form-control" placeholder="Insert a name...">
</div>

<br>


{%for i in data %}
    <div id = "nama" style= "margin: auto;
    border: 2px solid black;
    border-radius: 4px;
    width: 50%;
    margin-top: 10px;
    padding: 5px;
    text-align: center;">
        <h4> {{i.name}} </h4>
        <h5> Rp{{i.nominal}},00 </h5> 
    </div>

    {% endfor %}
{% endblock content %}