{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>HOME</title>
{% endblock meta %}

{% block content %}
<div style="text-align: center;
padding: 1%;"><h1>CoFeed</h1></div>
<div style="text-align: justify; margin-left: 10%; margin-right: 10%;margin-top: 3%;">
    <p>CoFeed merupakan suatu aplikasi yang bertujuan untuk membantu mengatasi penyebaran virus Covid-19.
        Aplikasi ini menyajikan berbagai data seputar pandemi dan juga layanan untuk melakukan penyemprotan di tempat-tempat tertentu.
        Dengan adanya aplikasi ini diharapkan dapat membantu pencegahan penyebaran virus Covid-19.
        Bagi yang ingin mengirimkan bantuan, kami juga menyediakan layanan donasi yang akan diberikan bagi orang-orang yang membutuhkan.
        Dan juga terdapat kolom untuk mengirimkan feedback dari aplikasi untuk membantu kami dalam melakukan pengembangan aplikasi ini.
    </P>
</div>
<br>
<div style="font-size: 150px;justify-content: space-evenly;text-align: justify; margin-left: 10%; margin-right: 10%;margin-top: 3%;color: #c27779; 
background-color: rgb(255, 215, 167, 0.5);border-radius: 300px; padding: 150px;border-style: dashed;">
<h1 style="text-align: center;
padding: 1%;">3M</h1>
<i class="fas fa-people-arrows" style="margin-left:2%;" ></i><h2>Menjaga Jarak</h2>
    <i class="fas fa-head-side-mask" style="margin-left:78%; margin-top:0%;"></i>
    <h2 style="margin-left: 72%; margin-top:0%; text-align: center;">Memakai Masker</h2>
    <i class="fas fa-hand-sparkles" style="margin-left:2%;"></i><h2>Mencuci Tangan</h2>
</div>



{% endblock content %}
